*restic*
.dotfiles.git
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
go
.ssh
.CFUserTextEncoding
.DS_Store
.cache
.android
.asdf
.bash_history
.cargo
.cookiecutter*
.docker
.fleet
.gitconfig
.gradle
.ivy2
.kotlinc_history
.kube
.lesshst
.local
.m2
.minikube
.npm
.pip
.profile
.psql_history
.python_history
.rustup
.sbt
.tool-versions
.triplequote
.vscode
.wrangler
.yarnrc
.zprofile
.zsh_history
.zsh_sessions
.zshenv
.vim*
*.swp
